<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>There's no page at this address 😢</h1>
            <p>Check the URL and try again, or click this link to <a href="/">go back home 🏠</a></p>
        </LayoutView>
    </NotFound>
</Router>
